// Place all the styles related to the Guests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clean {
    background-color: #ddd;
    color: #999
}

.dirty {
    background-color: brown;
    color: black;
}

.occupied {
    background-color: lightgreen;
    color: black;
}
